
.header {
    list-style-type: none;
    margin: 10px;
    overflow: hidden;
    margin-right: 16px;
    font-family: arial,sans-serif;
    font-size: 13px;
    padding: auto;
  }

  .headerli a {
    display: inline-block;
    color: black;
    text-align: right;
    padding: 5px 5px;
    text-decoration: none;
    background: green;
  }

